<article class="card">
    <span class="pill">Categoria</span>
    <h3>{{ category.name }}</h3>
    <p>{{ category.description ?: 'Linea creativa disponibile nel catalogo.' }}</p>
    <div class="card__footer">
        <span>Catalogo</span>
        <a href="{{ app.url }}/categoria/{{ category.slug }}">Esplora</a>
    </div>
</article>
