<header>
    <nav>
        <a href="{{ app.url }}/">Home</a>
        <a href="{{ app.url }}/catalogo">Catalogo</a>
        <a href="{{ app.url }}/laboratorio">Laboratorio</a>
        <a href="{{ app.url }}/contatti">Contatti</a>
    </nav>
</header>
