APP_NAME="JH"
APP_ENV=production
APP_DEBUG=false
APP_URL="https://tuodominio.it"
APP_TIMEZONE="Europe/Rome"
APP_ASSET_VERSION="20260314-2"
APP_DEBUG_BOOT=false

DB_HOST=31.11.39.231
DB_HOSTS=31.11.39.231,127.0.0.1
DB_PORT=3306
DB_DATABASE=Sql1874742_3
DB_USERNAME=Sql1874742
DB_PASSWORD=INSERISCI_PASSWORD_ARUBA

ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=INSERISCI_HASH_PASSWORD
